<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <%- include('partials/head'); %>

    <body>
        <%- include('partials/navigation'); %> <%- include('partials/cards'); %>
        <%- include('partials/cards'); %> <%- include('partials/cards'); %>
    </body>

    <%- include('partials/footer'); %>
</html>
